html {
    font-size: 20px;
}
main,footer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
header .logo {
      width: 300px;
}
header .logo img {
    width: 100%;
    height: auto;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;     
    position: fixed;
    top: 0;       
    width: 100%;
}
h1 {
    font-size: 50px;
    text-align: center;
}
.banner {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.banner img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
main {
    padding-top: 100px;
}
footer {
    background-color: #e45e32;
}
footer p {
    text-align: center;
    margin-top: 0%;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin: 30px;
}
#text {
    text-align: center;
}
span {
  background-color: red;
  color: white;
  font-size: 10px;
  margin-right: 5px;
  padding: 2px;
}
.form-table {
  border-collapse: collapse;
  width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.form-table th,
.form-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.form-table th {
  background-color: #f5f5f5;
  text-align: left;
  width: 30%;
}

.form-table input,
.form-table select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-table button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.form-table button:hover {
  background-color: #0056b3;
}
tbody {
    max-width: 940px;
}
h3 {
    border-left: 3px solid #e45e32;
    padding-left: 10px;
}
div {
    text-align: center;
}
input {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.form-buttons {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#errorMessage {
    color: red;
    text-align: left;
}
#patternError {
    color: blue;
    text-align: left;
}