body {
    background-color: rgb(181, 215, 203);
}

p {
    color: white;
}

.midashi {
    color: white;
    font-family: 游明朝;
    font-size: 35px;
}

#about, #skills, #personal, #message {
    text-align: center;
}

main {
    margin-top: 100px;
}

.logo img {
    object-fit: cover;

    width: 320px;
    height: 320px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);

    border-radius: 50%;

}

.logo {
    display: flex;
    justify-content: center;
}

#about,
#skills,
#personal,
#message  {
    position: relative;
    text-align: center;

    background-color: rgba(255,255,255,0.1);

    width: 70%;
    margin: 40px auto;

    padding: 30px;

    border-radius: 20px;

    backdrop-filter: blur(5px);

    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.top-area {
    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 30px 80px;
}

.title {
    font-size: 60px;

    font-family: 游明朝;

    color: white;

    font-weight: bold;

    margin: 0;
}

.flower1 {
    top: 20px;
    left: 20px;
}

.flower2 {
    bottom: 10px;
    right: 30px;
}

.flower1,
.flower2 {
    position: absolute;
}

.flower1 img,
.flower2 img {
    width: 80px;

    height: auto;

    clip-path: none;

    box-shadow: none;
}

main p {
    font-size: 20px;
}

#page_top {
    width: 90px;
    height: 90px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: #ffb1b1;
    opacity: 0.6;
    border-radius: 50%;
}

#page_top a {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    text-decoration: none;
}

#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '↑';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.menu {
        display: flex;
        gap: 30px;
    }

    .menu a {
        padding-right: 2vw;
        font-size: 20px;
        color: white;
        font-family: 游明朝;
    }